.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e6b31e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e6b31e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Burger Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 80px;
  height: 50px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #c5ba26;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #343434;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #e6b31e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #e6b31e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #2e2e2e;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: #2e2e2e;
}

.menu-button:hover {
  /*padding-left: 30px;*/
  padding-left: 90px;
  background-color: #343434;
  color: white;
  /*color: #e6b31e;*/
  transition-duration: 0.5s;
  transition-timing-function: ease;
  opacity: 0.5;
  border: solid #2e2e2e;
  filter: blur(1px);

  /*line-height: 3.85em;*/
  /*height: 3.85em;*/
  /*font-size: 1.3em;*/

  /*transform: translate(-20%, -5%);*/
  /*transform: translate(0%, -18%);*/
  /*transform: rotate(0.3deg) scale(1.01);*/

  /*Norbi's gradient*/
  /*background-image: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 115, 0), rgb(255, 251, 0), rgb(72, 255, 0), rgb(0, 255, 213), rgb(0, 43, 255), rgb(122, 0, 255), rgb(255, 0, 200), rgb(255, 0, 0));*/
  /*background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 115, 0), rgb(255, 251, 0), rgb(72, 255, 0), rgb(0, 255, 213), rgb(0, 43, 255), rgb(122, 0, 255), rgb(255, 0, 200), rgb(255, 0, 0)) 0% 0% / 400%;*/
  /*animation: 20s linear 0s infinite normal none running eSMUZc;*/
  /*transition: opacity 0.3s ease-in-out 0s;*/
}

.menu-button {
  /*background-color: for dark theme #2e2e2e;*/
  background-color:#e6b31e;
  /*color: #e6b31e; for dark theme */
  color: #343434;
  width: 120%;
  border: none;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
  margin: auto;
  padding-left: 20px;
  height: 5em;
  line-height: 5em;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
