.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e6b31e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #e6b31e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Burger Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 80px;
  height: 50px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #c5ba26;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #343434;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #e6b31e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #e6b31e;
}

/* Wrapper for item list */
.bm-item-list {
  color: #2e2e2e;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: #2e2e2e;
}

.menu-collapsible {
    background-color: #e6b31e;
    color: #343434;
    padding-left: 5px;
    width: 100%;
    border: none;
    border-bottom: 5px solid #343434;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
}

.menu-collapsible-open {
    background-color: #e6b31e;
    color: #343434;
    padding-left: 5px;
    width: 100%;
    border: none;
    /*border-bottom: 20px solid #343434;*/
    border-bottom: 5px solid #2e2e2e;
    /*border-left: 2px solid #343434;*/
    /*border-left: 5px solid #2e2e2e;*/
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
}

.menu-button:hover {
    padding-left: 80px;
    background-color: #a07d14;
    color: white;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    height: 3.85em;
    font-size: 1.3em;
    transform: translate(-20%, -5%);
    transform: translate(0%, -18%);
    transform: rotate(2deg) scale(1.01);
}

.menu-button {
    background-color: #e6b31e;
    /*color: #343434;*/
    color: white;

    width: 130%;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    margin: auto;
    padding-left: 20px;
    height: 5em;
    line-height: 5em;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

button:focus {
    outline: 0;
}

.menu-item:focus {
    outline: 0;
}

body {
    background: #e6b31e;
}

*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: #343434;
}
*::-webkit-scrollbar-thumb {
    background-color: #6c757d;
}

.errorMessage {
    color: #DF3A39;
    margin-top: 5%;
    font-family: "Roboto", sans-serif;
}

.registerLink {
    color: white;
    padding-top: 15px;
    margin-top: 15px;
}

.registerLink:hover {
    color: #e6b31e;
}

.dropdown {
    font-family: \"Roboto\", sans-serif;
    outline: 0;
    background: lightgrey;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: left;
}

span {
    outline: none;
}